/* Login page */
.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f7f7f7;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: scale(1.5);
}

.form-login {
    margin-bottom: 20px;
}

.login-label {
    display: block;
    margin-bottom: 5px;
}

.login-message {
    color: red;
}

#login-username, #login-password {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#login-button {
    width: 100%;
    padding: 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-button:hover {
    background-color: #369b36;
}
